<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crypto Spider</title>
    {% include("partials/head.html") %}
</head>
    <body>
        {% include("partials/navigation.html") %}
        <div class="container-fluid p-5 ">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <p class="image-title mb-0"><b>Identify high-risk activity</b></p>
                    <p class="card-text">Programmatically assess the risks associated with addresses before they interact with your platform. Chainalysis Address Screening runs across all blockchain networks and assets, in real time, detecting high-risk activities and preventing transactions with cryptographic addresses linked to illicit activity. You can also customize risk rules to optimize your compliance program and risk policies.</p>
                    <img src="/static/img/1.png" class="card-img-top border-25 soft-shadow" alt="Identify high-risk activity">
                </div>
                <div class="col-md-6 offset-md-3">
                    <p class="image-title mb-0"></br></br></p>
                </div>
                <div class="col-md-6 offset-md-3">
                    <p class="image-title mb-0"><b>Enhance your crypto compliance program</b></p>
                    <p class="card-text">BBuild your approach to web3 compliance with Chainalysis Address Screening. as part of a comprehensive risk and compliance program, Address Screening helps identify and prevent illicit services from interacting with your platform. Incorporating a proactive approach to risk and compliance helps reduce illegal activity without compromising the user experience.</p>
                    <img src="/static/img/2.png" class="card-img-top border-25 soft-shadow" alt="Enhance your crypto compliance program">
                </div>
                <div class="col-md-6 offset-md-3">
                    <p class="image-title mb-0"></br></br></p>
                </div>
                <div class="col-md-6 offset-md-3">
                    <p class="image-title mb-0"><b>Chaining data analysis</b></p>
                    <p class="card-text">Chainalysis Address Screening is powered by the best blockchain data in the industry. We assign hundreds of millions of addresses to real-world entities, adding hundreds of new services every week, one-third of which are scams and other illicit services, reinforcing our clients' investment, investigative and compliance needs.</p>
                    <img src="/static/img/3.png" class="card-img-top border-25 soft-shadow" alt="Chainalysis Data">
                </div>
                <div class="col-md-6 offset-md-3">
                    <p class="image-title mb-0"></br></br></p>
                </div>
                <div class="col-md-6 offset-md-3">
                    <p class="image-title mb-0"><b>Solutions for DeFi</b></p>
                    <p class="card-text">DeFi is one of the fastest growing cryptocurrency segments, but many web3 organizations lack the data needed to avoid interactions with risky users. Chainalysis Address Screening is the first step in protecting your business and building your DeFi compliance program.</p>
                    <img src="/static/img/4.png" class="card-img-top border-25 soft-shadow" alt="Solutions for DeFi">
                </div>
                <div class="col-md-6 offset-md-3">
                    <p class="image-title mb-0"></br></br></p>
                </div>
                <div class="col-md-6 offset-md-3">
                    <p class="image-title mb-0"><b>Solutions for NFTs</b></p>
                    <p class="card-text">The burgeoning NFT market is ripe for new sources of income, but also for illicit activities. As demand grows, so does the importance of anticipating the risks associated with NFTs and their transfers. Whether you're an NFT issuer, collector or trader, exchange or custody provider, Chainalysis provides intelligence and risk management tools to help you better position yourself for long-term utility.</p>
                    <img src="/static/img/5.png" class="card-img-top border-25 soft-shadow" alt="Solutions for NFTs">
                </div>
            </div>
        </div>
    </body>
</html>